applicationsets:
  - name: invoice1-dev
    namespace: dev
    cluster: https://kubernetes.default.svc
    project: default
    repoURL: https://github.com/effip24/devops-aws-infra.git
    targetRevision: main
    path: k8s/charts/main-apps/values/dev/
    valueFiles:
      - values.invoice1.yaml

  - name: invoice2-dev
    namespace: dev
    cluster: https://kubernetes.default.svc
    project: default
    repoURL: https://github.com/effip24/devops-aws-infra.git
    targetRevision: main
    path: k8s/charts/main-apps/values/dev/
    valueFiles:
      - values.invoice2.yaml

  - name: metrics-server-dev
    namespace: kube-system
    cluster: https://kubernetes.default.svc
    project: default
    parameters:
      - name: replicas
        value: "2"
    chart: metrics-server
    repoURL: https://kubernetes-sigs.github.io/metrics-server/
    targetRevision: "3.10.0"
