applicationsets:
  - name: nginx1
    namespace: dev
    cluster: https://kubernetes.default.svc
    project: default
    repoURL: https://github.com/effip24/devops-aws-infra.git
    targetRevision: main
    path: k8s/charts/main-apps/
    valueFiles:
      - values/dev/app1.yaml

  - name: nginx2
    namespace: dev
    cluster: https://kubernetes.default.svc
    project: default
    repoURL: https://github.com/effip24/devops-aws-infra.git
    targetRevision: main
    path: k8s/charts/main-apps/
    valueFiles:
      - values/dev/app2.yaml

  - name: metrics-server
    namespace: dev
    cluster: https://kubernetes.default.svc
    project: default
    repoURL: https://kubernetes-sigs.github.io/metrics-server/
    targetRevision: "v0.3.7"
